{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %} 
<h2>Your Appointments</h2>
<ul>
    {% for appointment in appointments %}
        <li>
            <strong>Name:</strong> {{ appointment.name }}<br>
            <strong>Email:</strong> {{ appointment.email }}<br>
            <strong>Phone Number:</strong> {{ appointment.phone_no }}<br>
            <strong>Hospital:</strong> {{ appointment.hospital }}<br>
            <strong>Department:</strong> {{ appointment.department }}<br>
            <strong>Doctor:</strong> {{ appointment.doctor }}<br>
            <strong>Date:</strong> {{ appointment.date }}<br>
            <strong>Time:</strong> {{ appointment.time }}<br>
            <strong>Description:</strong> {{ appointment.description }}<br><br> &nbsp;
        </li>
    {% endfor %}
</ul>

{% endblock %}



